<section aria-labelledby="service-area-title">
  <cx-stack gap="lg" align="start">
    <div class="cx-editorial">
      <h2 id="service-area-title" class="fp-heading cx-font-regular">
        {{ commercial.areaTitle }}
      </h2>
      <p>{{ commercial.areaBody }}</p>
    </div>
    <cx-inline gap="md" [wrap]="true">
      @for (region of regions; track region.id) {
        <cx-button
          [text]="region.name"
          [href]="routeFor(region.id)"
          appendIcon="arrow-right"
          [rounded]="true"
        />
      }
    </cx-inline>
  </cx-stack>
</section>
