<section class="cta">
  <div class="section-content">
    {% assign cta = site.data.settings.cta %}
    {% if page.lang == 'en' %}
      {% assign default_heading = cta.en_heading %}
      {% assign default_text = cta.en_text %}
      {% assign default_button_label = cta.en_button_label %}
      {% assign default_button_url = cta.en_button_url %}
    {% else %}
      {% assign default_heading = cta.sv_heading %}
      {% assign default_text = cta.sv_text %}
      {% assign default_button_label = cta.sv_button_label %}
      {% assign default_button_url = cta.sv_button_url %}
    {% endif %}
    <h2>{{ include.heading | default: default_heading }}</h2>
    {% if include.text %}
    <p class="text-large">{{ include.text }}</p>
    {% else %}
    <p class="text-large">{{ default_text }}</p>
    {% endif %}
    <div class="mt-2 mb-2 text-center">
      <a class="button button-large" href="{{ include.button_url | default: default_button_url | relative_url }}">{{ include.button_label | default: default_button_label }}</a>
    </div>
  </div>
</section>
