{% assign related_urls = page.related_articles %}
{% if related_urls %}
<section>
  <div class="section-content">
    <div class="blog-posts related">
      <h2>{% if page.lang == 'en' %}Related articles{% else %}Relaterade inlägg{% endif %}</h2>
      {% for related_url in related_urls limit:3 %}
        {% assign related = site.articles | where: 'permalink', related_url | first %}
        {% if related %}
      <a href="{{ related.url | relative_url }}">
        <div>
          {% if related.hero_image %}<img src="{{ related.hero_image | relative_url }}" alt="{{ related.title | escape }}">{% endif %}
          <h3>{{ related.title }}</h3>
        </div>
        <div>{% if page.lang == 'en' %}Read more{% else %}Läs mer{% endif %}</div>
      </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
