<!DOCTYPE html>
<html lang="{{ page.lang | default: 'sv' }}">
  {% include head.html %}
  <body class="page-{{ page.layout | default: 'default' }}">
    <main>
      {% assign staged_asset_src = 'src="' | append: site.baseurl | append: '/assets/' %}
      {% assign staged_asset_href = 'href="' | append: site.baseurl | append: '/assets/' %}
      {{ content
        | replace: 'src="/assets/', staged_asset_src
        | replace: 'href="/assets/', staged_asset_href
      }}
      {% include navigation.html %}
      {% include footer.html %}
    </main>
    <script defer src="{{ '/assets/scripts/scripts.js' | relative_url }}"></script>
    <script defer src="{{ '/assets/scripts/language.js' | relative_url }}"></script>
  </body>
</html>
